<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>글목록</title>
</head>
<body>
    <h1>글목록 리스트를 보여줍니다.</h1>
    <ul>
        <% for(var i=0; i< topics.length; i++){ %>
        <li>
            <a href="/topic/<%= topics[i].id %>"> <%= topics[i].title %></a>
        </li>
        <% } %>
    </ul>
    <% if(topic){ %>

    <h2><%= topic.title %></h2>
    <p><%= topic.description %></p>
    <p>By <%= topic.author %></p>


    <% }else{ %>
    <h2>환영합니다</h2>
    <p>이곳은 글 목록을 보여주는 페이지 입니다.</p>
    <% } %>
</body>
</html>